In [21]:
#Importer les bibliothèques
import pandas as pd
from ydata_profiling import ProfileReport

print("Les bibliothèques sont importées")

Les bibliothèques sont importées

In [22]:
# Charger et afficher les 10 premières données
data = pd.read_csv('Financial_inclusion_dataset.csv')

# Affichage de 10 échantillon aléatoire
print(data.sample(10))

#Affichage des informations générales

print(data.info())

        country  year       uniqueid bank_account location_type  \
4363      Kenya  2018  uniqueid_4364          Yes         Urban
8106     Rwanda  2016  uniqueid_2039           No         Rural
17428  Tanzania  2017  uniqueid_2626           No         Urban
15677  Tanzania  2017   uniqueid_875           No         Urban
822       Kenya  2018   uniqueid_823           No         Rural
14567    Rwanda  2016  uniqueid_8500          Yes         Urban
13970    Rwanda  2016  uniqueid_7903          Yes         Urban
22448    Uganda  2018  uniqueid_1026           No         Rural
21911    Uganda  2018   uniqueid_489           No         Rural
15663  Tanzania  2017   uniqueid_861           No         Urban

      cellphone_access  household_size  age_of_respondent  \
4363               Yes               5                 30
8106               Yes               5                 35
17428              Yes               2                 25
15677               No               3                 68
822                 No               7                 55
14567              Yes               4                 35
13970              Yes               3                 39
22448              Yes               2                 65
21911              Yes               4                 20
15663               No               1                 65

      gender_of_respondent relationship_with_head           marital_status  \
4363                  Male      Head of Household  Married/Living together
8106                  Male      Head of Household  Married/Living together
17428               Female         Other relative       Divorced/Seperated
15677               Female      Head of Household  Married/Living together
822                   Male      Head of Household  Married/Living together
14567               Female      Head of Household                  Widowed
13970               Female      Head of Household       Divorced/Seperated
22448               Female      Head of Household                  Widowed
21911               Female                 Spouse  Married/Living together
15663               Female      Head of Household                  Widowed

           education_level                      job_type
4363   Secondary education                 Self employed
8106     Primary education           Farming and Fishing
17428   Tertiary education                 Self employed
15677  No formal education                 Self employed
822    No formal education           Informally employed
14567  Secondary education  Formally employed Government
13970  Secondary education                 Self employed
22448  No formal education                  Other Income
21911    Primary education                 Self employed
15663  No formal education                 Self employed
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23524 entries, 0 to 23523
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 23524 non-null  object
 1   year                    23524 non-null  int64
 2   uniqueid                23524 non-null  object
 3   bank_account            23524 non-null  object
 4   location_type           23524 non-null  object
 5   cellphone_access        23524 non-null  object
 6   household_size          23524 non-null  int64
 7   age_of_respondent       23524 non-null  int64
 8   gender_of_respondent    23524 non-null  object
 9   relationship_with_head  23524 non-null  object
 10  marital_status          23524 non-null  object
 11  education_level         23524 non-null  object
 12  job_type                23524 non-null  object
dtypes: int64(3), object(10)
memory usage: 2.3+ MB
None

In [23]:
#Les éléments statistiques
print(data.describe())

               year  household_size  age_of_respondent
count  23524.000000    23524.000000       23524.000000
mean    2016.975939        3.797483          38.805220
std        0.847371        2.227613          16.520569
min     2016.000000        1.000000          16.000000
25%     2016.000000        2.000000          26.000000
50%     2017.000000        3.000000          35.000000
75%     2018.000000        5.000000          49.000000
max     2018.000000       21.000000         100.000000

In [24]:
# Supprimer les doublons, s’ils existent
data.drop_duplicates(inplace=True)
print("les données en double sont supprimées")

les données en double sont supprimées

In [25]:
#Afficher le nombre des valeurs manquantes de chaque colonne

data.isnull().sum()

country                   0
year                      0
uniqueid                  0
bank_account              0
location_type             0
cellphone_access          0
household_size            0
age_of_respondent         0
gender_of_respondent      0
relationship_with_head    0
marital_status            0
education_level           0
job_type                  0
dtype: int64

In [26]:
#Encodage des variables catégorielles :

#country

data['id_country'] = data['country'].astype('category').cat.codes #permet de donner une valeur entier unique à chaque region

#bank_account et cellphone_access

data[["bank_account","cellphone_access"]] = data[["bank_account","cellphone_access"]].replace(["Yes","No"],[1,0])

# location_type

data[["location_type"]] = data[["location_type"]].replace(["Rural","Urban"],[1,0])

# gender_of_respondent

data[["gender_of_respondent"]] = data[["gender_of_respondent"]].replace(["Female","Male"],[1,2])

# relationship_with_head

data["code_relationship"] = data["relationship_with_head"].astype('category').cat.codes

# marital_status

data["code_marital_status"] = data["marital_status"].astype('category').cat.codes

# job_type

data["code_job_type"] = data["job_type"].astype('category').cat.codes

data

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type,id_country,code_relationship,code_marital_status,code_job_type
0,Kenya,2018,uniqueid_1,1,1,1,3,24,1,Spouse,Married/Living together,Secondary education,Self employed,0,5,2,9
1,Kenya,2018,uniqueid_2,0,1,0,5,70,1,Head of Household,Widowed,No formal education,Government Dependent,0,1,4,4
2,Kenya,2018,uniqueid_3,1,0,1,5,26,2,Other relative,Single/Never Married,Vocational/Specialised training,Self employed,0,3,3,9
3,Kenya,2018,uniqueid_4,0,1,1,5,34,1,Head of Household,Married/Living together,Primary education,Formally employed Private,0,1,2,3
4,Kenya,2018,uniqueid_5,0,0,0,8,26,2,Child,Single/Never Married,Primary education,Informally employed,0,0,3,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23519,Uganda,2018,uniqueid_2113,0,1,1,4,48,1,Head of Household,Divorced/Seperated,No formal education,Other Income,3,1,0,7
23520,Uganda,2018,uniqueid_2114,0,1,1,2,27,1,Head of Household,Single/Never Married,Secondary education,Other Income,3,1,3,7
23521,Uganda,2018,uniqueid_2115,0,1,1,5,27,1,Parent,Widowed,Primary education,Other Income,3,4,4,7
23522,Uganda,2018,uniqueid_2116,0,0,1,7,30,1,Parent,Divorced/Seperated,Secondary education,Self employed,3,4,0,9
23523,Uganda,2018,uniqueid_2117,0,1,1,10,20,2,Child,Single/Never Married,Secondary education,No Income,3,0,3,6

In [27]:
#Récuperer les données pour l'analyse
data_analyse = data.drop(["country","uniqueid","relationship_with_head","marital_status","education_level","job_type"],axis=1).copy()

data_analyse

,year,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,id_country,code_relationship,code_marital_status,code_job_type
0,2018,1,1,1,3,24,1,0,5,2,9
1,2018,0,1,0,5,70,1,0,1,4,4
2,2018,1,0,1,5,26,2,0,3,3,9
3,2018,0,1,1,5,34,1,0,1,2,3
4,2018,0,0,0,8,26,2,0,0,3,5
...,...,...,...,...,...,...,...,...,...,...,...
23519,2018,0,1,1,4,48,1,3,1,0,7
23520,2018,0,1,1,2,27,1,3,1,3,7
23521,2018,0,1,1,5,27,1,3,4,4,7
23522,2018,0,0,1,7,30,1,3,4,0,9
23523,2018,0,1,1,10,20,2,3,0,3,6

In [28]:
#Importation des bibliothèques

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Préparation du jeu de données pour la modélisation
X = data_analyse.drop(["bank_account"], axis=1)
y = data_analyse['bank_account']

# Division des données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=60)

# Prétraitez les données en mettant à l'échelle les caractéristiques (normalisation)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Créez un modèle de régression logistique
model = LogisticRegression()

# Entraînez le modèle sur l'ensemble d'entraînement
model.fit(X_train, y_train)

# Faites des prédictions sur l'ensemble de test
y_pred = model.predict(X_test)

# Évaluez les performances du modèle
accuracy = accuracy_score(y_test, y_pred)
confusion_mat = confusion_matrix(y_test, y_pred)
report = classification_report(y_test, y_pred)

# Affichez les résultats
print("Précision :", accuracy)
print("Matrice de confusion :", confusion_mat)
print("Rapport de classification :")
print(report)

Précision : 0.8584484590860786
Matrice de confusion : [[4023   14]
 [ 652   16]]
Rapport de classification :
              precision    recall  f1-score   support

           0       0.86      1.00      0.92      4037
           1       0.53      0.02      0.05       668

    accuracy                           0.86      4705
   macro avg       0.70      0.51      0.48      4705
weighted avg       0.81      0.86      0.80      4705

In [29]:
import joblib

joblib.dump(model, "projet_streamlit2.joblib")

['projet_streamlit2.joblib']